// 変数を定義
$grey-color: #808080;

@import "minima"; // minimaのSCSSをインポート
@import "minima/_variables"; // 変数が含まれているファイルをインポート

body {
  background-color: #121212;
  color: #e0e0e0;
}

a {
  color: #bb86fc;
}