@import "minima";

body {
  background-color: #121212;
  /* Dark theme background */
  color: #e0e0e0;
  /* Light text color for dark background */
}

a {
  color: #bb86fc;
  /* Custom link color */
}

/* Additional styling */